$screenBreakpoint: 768px; // iPads, Tablets
$screenBreakpointMobile: 480px; // Mobile devices
$screenBreakpointExtra: 1200px; // For product filter
$containerWidth: 1600px;

$colorYellow: #FFE600; // original color used in logo
$colorGreen: #00BE31; // green color used in homepage
$colorGreenLight: #bfffcf;
$colorGreenDark: #008e24;
$colorBasket: #9EFF00; // 
// $colorGoldLight: #e1d2b8;

$fontFamily: 'Heebo', sans-serif;
// $fontFamilyHeaders: 'EB Garamond', serif;
// $fontFamilyMenu: 'Barlow Condensed', sans-serif;

@import 'inc/burger-menu.adapter';
// @import 'inc/contact-form';
@import 'inc/tilesList.scss';
@import 'inc/productList.scss';
@import 'inc/productDetail.scss';
@import 'inc/productPagination.scss';
@import 'inc/filters.scss';
@import 'inc/crumbs.scss';
@import 'inc/basket.scss';
@import 'inc/nav.scss';
@import 'inc/account.scss';
@import 'inc/elementTiles.scss';
@import 'inc/login.scss';
@import 'inc/accountHome.scss';
@import 'inc/login2FaChallenge.scss';
@import 'inc/userList.scss';
@import 'inc/message.scss';
@import 'inc/orderList.scss';
@import 'inc/order.scss';
@import 'inc/wizzard.scss';
@import 'inc/resetPassword.scss';
@import 'inc/forgotPassword.scss';
@import 'inc/reportsContent.scss';
@import 'inc/manuals.scss';
@import 'inc/addresses.scss';
@import 'inc/returnOrder.scss';

html, body {
    margin: 0;
    padding: 0;
}
html {
    box-sizing: border-box;
    font-family: $fontFamily;
    font-size: 16px;
    scroll-behavior: smooth;

    background-color: #DDD;
    // padding: 20px;
    // @media (max-width: $screenBreakpoint) {
        // padding: 10px;
    // }
}
// body {
//     padding: 20px;
//     @media (max-width: $screenBreakpoint) {
//         padding: 10px;
//     }
// }
*, *:before, *:after {
    box-sizing: inherit;
}
img {
    vertical-align: middle; // removes bottom 3px margin.
}
input, textarea, select, button {
    font-family: $fontFamily;
    font-size: 16px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3,h4,h5 { font-size: 1.2em; }
a {
    color: $colorGreen;
    font-weight: bold;
    text-decoration: none;
    padding: 0 10px;
    &:hover {
        text-decoration: underline;
    }
    &:before {
        font-family: 'hulshoff';
    }
    &.editBtn {
        &:before {
            content: '\e900\00a0';
        }
    }
    &.addBtn {
        &:before {
            content: '\e901\00a0';
        }
    }
    &.backBtn {
        &:before {
            content: '\e904\00a0';
        }
    }
}
form {
    button {
        cursor: pointer;
        border: 0;
        border-radius: 5px;
        padding: 7px 15px;
        background-color: $colorGreen;
        color: #FFF;
        &:hover {
            background-color: $colorGreenDark;
        }
        &:disabled {
            background-color: #CCC;
            color: #777;
            cursor: not-allowed;
        }
        &:before {
            font-family: 'hulshoff';
        }
        &.deleteBtn {
            padding: 3px 8px;
            background-color: red;
            color: #FFF;
            &:hover {
                background-color: #bf0000;
            }
            &:before {
                content: '\e902';
            }
        }
        &.saveBtn {
            &:before {
                content: '\e903\00a0';
            }
        }
        &.uploadBtn {
            &:before {
                content: '\e905\00a0';
            }
        }
        &.searchBtn {
            &:before {
                content: '\f50d\00a0';
            }
        }
    }
}
table {
    border: 1px solid #000;
    border-collapse: collapse;
    @media (max-width: $screenBreakpointExtra) {font-size: 0.8em;}
    @media (max-width: $screenBreakpointMobile) {font-size: 0.7em;}
    tr {
        th,td {
            padding: 15px;
        }
        &:nth-of-type(even) {
            td {
                background-color: #EFEFEF;
            }
        }
        &:nth-of-type(1) {
            th {
                background-color: #000;
                color: #FFF;
            }
        }
    }
}
.pageHelp {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 2;
    cursor: pointer;
    background-color: $colorYellow;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px #666;
    color: #000;
    font-weight: bold;
    &:hover {
        box-shadow: 0px 0px 15px #000;
    }
}
.pageManual {
    display: none;
    position: fixed;
    right: 110px;
    bottom: 110px;
    z-index: 2;
    width: 50%;
    height: 50%;
    @media (max-width: $screenBreakpoint) {
        width: 65%;
        height: 60%;
        font-size: .8em;
    }
    padding: 10px 10px 10px 20px;
    border-radius: 10px;
    border: 1px solid #000;
    background-color: #FFF;
    box-shadow: 5px 5px 10px #666;
    div {
        overflow: auto;
        display: block;
        width: 100%;
        height: 100%;
    }
}
.gridContainer {
    border: 20px solid #FFF;
    @media (max-width: $screenBreakpoint) {
        border: 10px solid #FFF;
    }
    // max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        'logo breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs basket basket'
        'account content content content content content content content'
        'navigation content content content content content content content'
        'info content content content content content content content'
        'footer footer footer footer footer footer footer footer'
    ;
    grid-template-rows: auto auto auto 1fr auto;
    grid-template-columns: 225px 1fr 1fr 1fr 1fr 1fr 150px 150px;
    @media (max-width: $screenBreakpoint) {
        grid-template-areas:
            'logo logo logo logo logo logo logo logo'
            'navigation navigation navigation navigation navigation navigation navigation navigation'
            'breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs basket basket'
            // 'breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs'
            'account account account account account account account account'
            'content content content content content content content content'
            'info info info info info info info info'
            'footer footer footer footer footer footer footer footer'
        ;
        grid-template-rows: auto auto auto auto auto auto auto auto auto;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}
@font-face {
    font-family: 'hulshoff';
    src: url('../font/hulshoff.eot?18169759');
    src: url('../font/hulshoff.eot?18169759#iefix') format('embedded-opentype'),
         url('../font/hulshoff.woff?18169759') format('woff'),
         url('../font/hulshoff.ttf?18169759') format('truetype'),
         url('../font/hulshoff.svg?18169759#hulshoff') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
.logoCell {
    grid-area: logo;
    background-color: $colorYellow;
    text-align: center;
    padding: 10px 0 0 0;
    min-height: 55px;
    img {
        vertical-align: middle; // removes space at bottom
    }
}
.breadcrumbsCell {
    grid-area: breadcrumbs;
    background-color: #F0F2F4;
    min-height: 55px;
}
.lanSelect {
    font-size: 0.8em;
}
.basketCell {
    grid-area: basket;
    background-color: #F0F2F4;
    text-align: right;
    padding-top: 10px;
    padding-right: 25px;
    min-height: 55px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: right;
    a:hover {
        text-decoration: none;
    }
}
.accountCell {
    grid-area: account;
    background-color: #333333;
    color: #FFF;
    padding-top: 20px;
    padding-bottom: 20px;
}
.navigationCell {
    grid-area: navigation;
    background-color: #FFF;
}
.infoCell {
    grid-area: info;
    background-color: #333333;
    padding-top: 140px;
    p {
        color: #FFF;
        font-size: 1.3em;
        font-style: italic;
        // text-decoration: underline;
        // padding: 0 20px;
        width: 80%;
        border-bottom: 1px solid #FFF;
        text-align: center;
        margin: 0 auto;
    }
}
.contentCell {
    grid-area: content;
    position: relative;
    background-color: #FFF;
    // border-right: 3px solid #F0F2F4;

    > div {
        padding: 20px;
        @media (max-width: $screenBreakpoint) { padding: 5px; }
    }

    .textContent {
        max-width: 1100px;
    }
    .productOverviewContent {
        display: flex;
        flex-direction: row-reverse;
        @media (max-width: $screenBreakpointExtra) {
            display: block;
        }
        .filterWrap {
            flex: 0 0 350px;
        }
        .loadProducts {
            flex: 1 1 100%;
        }
    }
}
.footerCell {
    grid-area: footer;
    background-color: #333333;
    text-align: center;
    color: #FFF;
    p {
        &:first-child {
            font-size: 40px;
            &:before {
                font-family: 'hulshoff';
                content: '\e906\00a0';
            }
            a {
                color: #FFF;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
