@charset "UTF-8";
/*
    Burger-menu
    DO NOT ALTER THIS MIXIN
*/
.tilesListContent .tileImg {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 2px solid #000;
}
.tilesListContent .imageIsSet {
  display: flex;
  align-items: center;
  gap: 20px;
}
.tilesListContent form.deleteProductgroupForm button {
  font-size: 0.8em;
}

.selectTileOverlay {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #FFF;
}
.selectTileOverlay .tileGrid {
  display: grid;
  gap: 20px;
  align-items: start;
  max-width: 1200px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1200px) {
  .selectTileOverlay .tileGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 768px) {
  .selectTileOverlay .tileGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.selectTileOverlay .tileGrid div {
  text-align: center;
  display: flex;
  justify-content: center;
}
.selectTileOverlay .tileGrid div a {
  align-self: flex-end;
  font-weight: bold;
}
.selectTileOverlay .tileGrid div a img {
  width: 150px;
  aspect-ratio: 1/1;
  border: 2px solid #000;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 10px;
}
.selectTileOverlay .tileGrid div a p {
  width: 150px;
  overflow-wrap: break-word;
  font-size: 0.9em;
}

.productList .products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 768px) {
  .productList .products {
    justify-content: center;
  }
}
.productList .products .product {
  width: 200px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #CCC;
}
@media (max-width: 530px) {
  .productList .products .product {
    width: 100%;
  }
}
.productList .products .product .prodInnerWrap .prodCodeWrap {
  padding: 0 3px;
  font-size: 0.8em;
  display: flex;
  justify-content: space-between;
}
.productList .products .product .prodInnerWrap .prodImgHolder img {
  width: 100%;
  aspect-ratio: 1/1;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #EEE;
}
.productList .products .product .prodInnerWrap .prodInfo {
  padding: 5px;
}
.productList .products .product .prodInnerWrap .prodInfo p {
  margin: 0;
}
.productList .products .product .prodToDetail {
  text-align: right;
}
.productList .products .product .prodToDetail a {
  text-decoration: none;
  background-color: #CCC;
  display: inline-block;
  padding: 5px 7px 3px 12px;
  color: #000;
}
.productList .products .product .prodToDetail a:before {
  font-family: hulshoff;
  font-size: 24px;
  content: " \e801";
}
.productList .products .product .prodToDetail a:hover, .productList .products .product .prodToDetail a.active {
  background-color: #000;
}
.productList .products .product .prodToDetail a:hover:before, .productList .products .product .prodToDetail a.active:before {
  color: #CCC;
}

.productDetailContent > h1 {
  margin-bottom: 0;
}
.productDetailContent > p {
  margin-top: 0;
}
.productDetailContent .prodDetReservations {
  background-color: #bfffcf;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #000;
}
.productDetailContent .prodDetReservations a {
  padding: 0;
}
.productDetailContent .prodDetReservations > :first-child {
  margin-top: 0;
}
.productDetailContent .prodDetReservations > :last-child {
  margin-bottom: 0;
}
.productDetailContent .prodDetReservations ul {
  height: 0px;
  overflow: hidden;
}
.productDetailContent .prodDetTopWrap {
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .productDetailContent .prodDetTopWrap {
    flex-direction: column;
  }
}
.productDetailContent .prodDetTopWrap div {
  flex: 1 1 0px;
  display: flex;
  justify-content: center;
}
.productDetailContent .prodDetTopWrap div img {
  display: block;
  width: 100%;
  max-width: 400px;
  max-height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #EEE;
  aspect-ratio: 1/1;
}
.productDetailContent .prodDetTopWrap div div {
  display: block;
}
.productDetailContent .prodDetTopWrap div div .prodReserveWrap {
  display: block;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .productDetailContent .prodDetTopWrap div div .prodReserveWrap {
    width: 100%;
    max-width: 400px;
  }
}
.productDetailContent .prodDetTopWrap div div .prodReserveWrap .prodCodes {
  border-bottom: 1px solid #CCC;
  padding: 5px;
  width: 280px;
  font-size: 0.8em;
  text-align: right;
}
@media (max-width: 768px) {
  .productDetailContent .prodDetTopWrap div div .prodReserveWrap .prodCodes {
    width: 100%;
    text-align: center;
  }
}
.productDetailContent .prodDetTopWrap div div .prodReserveWrap .prodCodes p {
  margin: 0;
}
.productDetailContent .prodDetTopWrap div div .prodReserveWrap h3 {
  margin-bottom: 0;
}
.productDetailContent .prodDetTopWrap div div .prodReserveWrap h3 + p {
  margin-top: 0;
}
.productDetailContent .prodDetPropertiesWrap {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px 0;
}
.productDetailContent .prodDetPropertiesWrap .prodDetProp {
  background-color: #EEE;
}
.productDetailContent .prodDetPropertiesWrap .prodDetProp h3 {
  margin: 0;
  font-size: 1em;
  background-color: #000;
  color: #FFF;
  padding: 5px 10px;
}
.productDetailContent .prodDetPropertiesWrap .prodDetProp p {
  margin: 0;
  padding: 10px;
}

.productOverviewPagination {
  padding: 20px 0;
}
.productOverviewPagination ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 5px;
  justify-content: center;
}
.productOverviewPagination ul li {
  vertical-align: middle;
}
.productOverviewPagination ul li a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 12px;
  border: 2px solid #CCC;
}
.productOverviewPagination ul li a:not(.inactive):hover, .productOverviewPagination ul li a.active {
  background-color: #00BE31;
  border-color: #666;
}
.productOverviewPagination ul li a.inactive {
  color: #999;
  cursor: default;
}
.productOverviewPagination ul li form {
  display: inline;
}
.productOverviewPagination ul li form input, .productOverviewPagination ul li form button {
  font-size: 15px;
}

.filters {
  background-color: #EEEEEE;
  padding: 10px;
  position: sticky;
  top: 0px;
}
.filters select, .filters input:not([type=checkbox]) {
  width: 100%;
  padding: 3px;
  margin-bottom: 5px;
  background-color: #FFF;
  border: 1px solid #666;
}
.filters button {
  border: 1px solid #FFF;
  background-color: #333;
  color: #FFE600;
  cursor: pointer;
  padding: 5px 10px;
}
.filters .searchInputWrap {
  position: relative;
}
.filters .searchInputWrap span {
  position: absolute;
  top: 2px;
  right: 3px;
  font-size: 0;
}
.filters .searchInputWrap span:before {
  font-size: 24px;
  font-family: hulshoff;
  content: "\f50d";
  color: #666;
}
.filters .activeFilter {
  margin: 5px 5px 0 0;
  padding: 0px 6px;
  display: inline-flex;
  align-items: center;
  background-color: #333;
  border-radius: 5px;
}
.filters .activeFilter span {
  color: #FFF;
  text-transform: uppercase;
  font-size: 12px;
}
.filters .activeFilter a {
  color: #FFE600;
  text-decoration: none;
  padding-left: 8px;
}
.filters .activeFilter a:before {
  font-family: hulshoff;
  font-size: 24px;
  content: " \e800";
}

ul.crumbs {
  padding: 0;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
ul.crumbs li a {
  text-decoration: none;
}
ul.crumbs li a:hover {
  text-decoration: underline;
}
ul.crumbs li:before {
  font-family: hulshoff;
  font-size: 16px;
  content: "\e801";
  padding: 0 10px 0 10px;
}
ul.crumbs li:first-of-type:before {
  content: "";
  padding: 0;
}

.basket {
  position: relative;
}
.basket:before {
  font-family: hulshoff;
  font-size: 26px;
  content: "\e807";
  color: #000;
}
.basket span {
  position: absolute;
  top: -14px;
  right: -10px;
  background-color: #9EFF00;
  color: #000;
  border: 1px solid #000;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  line-height: 17px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}
.basket.return:before {
  content: "\e810";
}
.basket.return span {
  background-color: orange;
}

.basketContent input {
  margin-right: 5px;
}
.basketContent table form {
  display: inline-block;
}
.basketContent table form button {
  cursor: pointer;
}
.basketContent .deliveryNaw {
  display: inline-block;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #FFF;
  font-weight: bold;
}
.basketContent .customAddress:before {
  font-family: hulshoff;
  font-size: 24px;
  content: "\e805 ";
}
.basketContent .manualAddress {
  display: none;
}

#burger-check, .burger-label {
  display: none;
}

@media (max-width: 768px) {
  nav.mainNav .burger-label {
    color: transparent; /* removes blinking cursor */
    display: block;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 11px;
    right: 11px;
  }
  nav.mainNav .burger-label span {
    margin: 0;
    margin-bottom: 7px;
    height: 5px;
    background: #000;
    border: 1px solid #000;
    border-radius: 3px;
    position: relative;
    display: block;
  }
  nav.mainNav #burger-check:checked ~ .burger-label span:nth-child(2) {
    display: none;
  }
  nav.mainNav #burger-check:checked ~ .burger-label span:nth-child(1) {
    transform: rotate(45deg);
    transition-duration: 0.3s;
    width: 45px;
    top: 12px;
    left: -6px;
  }
  nav.mainNav #burger-check:checked ~ .burger-label span:nth-child(3) {
    transform: rotate(-45deg);
    transition-duration: 0.3s;
    width: 45px;
    top: 0px;
    left: -6px;
  }
  nav.mainNav #burger-check ~ ul {
    overflow: hidden;
    white-space: nowrap;
    width: 0px;
    transition: width 0.5s;
    position: absolute;
    top: 130px;
    right: 0;
  }
  nav.mainNav #burger-check:checked ~ ul {
    width: 90%;
  }
  nav.mainNav .burger-label {
    position: inherit;
    margin: 8px auto 0 auto;
  }
  nav.mainNav #burger-check ~ ul {
    z-index: 10;
  }
}

nav.mainNav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav.mainNav ul li a {
  padding: 15px 0;
  display: block;
  color: #FFF;
  text-decoration: none;
  border-left: 10px solid #333;
  padding-left: 30px;
  background-color: #333;
}
nav.mainNav ul li a:hover, nav.mainNav ul li a.active {
  border-left: 10px solid #00BE31;
  background-color: #555555;
  background-image: url("../statics/nav-arrow.png");
  background-repeat: no-repeat;
  background-position: right center;
}

.accInfo {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  color: #CCC;
}
.accInfo img {
  width: 40px;
  height: 40px;
  padding: 3px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #FFF;
  border: 1px solid #000;
}

.accClientSelect {
  padding: 5px 15px;
  display: flex;
  justify-content: space-around;
}
.accClientSelect select {
  background-color: #222;
  color: #CCC;
  max-width: 100%;
}

.accButtons {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding-top: 10px;
}
.accButtons a {
  color: #CCC;
  font-size: 0;
}
.accButtons a:hover {
  color: #FFF;
  text-decoration: none;
}
.accButtons a:before {
  font-family: hulshoff;
  font-size: 26px;
}
.accButtons a.accBtnHome:before {
  content: "\e802";
}
.accButtons a.accBtnProfile:before {
  content: "\e803";
}
.accButtons a.accBtnLogout:before {
  content: "\e804";
}
.accButtons button {
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: 0;
  color: #CCC;
  padding: 0 10px;
}
.accButtons button:hover {
  color: #FFF;
  background-color: transparent;
}
.accButtons button:before {
  font-family: hulshoff;
  font-size: 26px;
  content: "\e804";
}

.elementTilesContent .eTilesWrap {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.elementTilesContent .eTilesWrap .eTile {
  cursor: pointer;
  border: 3px solid #00BE31;
  padding: 10px;
  text-align: center;
}
.elementTilesContent .eTilesWrap .eTile img {
  width: 150px;
  height: 150px;
}
.elementTilesContent .eTilesWrap .eTile p {
  margin: 0;
  font-size: 1.3em;
  text-transform: uppercase;
}
.elementTilesContent .eTilesWrap .eTile p a {
  text-decoration: none;
}
.elementTilesContent .eTilesWrap .eTile:hover {
  background-color: #CCC;
}

.loginContent {
  max-width: 500px;
  margin: 0 auto;
}
.loginContent form {
  display: inline-block;
  text-align: right;
}
.loginContent form div {
  padding-bottom: 5px;
}
.loginContent form label {
  padding-right: 5px;
}

.accountHomeContent .twofaWrap {
  border: 1px solid #CCC;
  padding: 20px;
  display: inline-block;
}
.accountHomeContent .twofaWrap :first-child {
  margin-top: 0;
}

.login2FaChallengeContent .noAccessToTheApp {
  background-color: #EFEFEF;
  padding: 20px;
  margin-top: 40px;
}
.login2FaChallengeContent .noAccessToTheApp :first-child {
  margin-top: 0;
}
.login2FaChallengeContent .noAccessToTheApp :last-child {
  margin-bottom: 0;
}
.login2FaChallengeContent hr {
  border: 0;
  border-bottom: 1px solid #CCC;
  margin: 30px 0;
}
.login2FaChallengeContent .recoveryCodeForm {
  display: none;
}
.login2FaChallengeContent a {
  padding: 0;
}

.userListContent table {
  border: 1px solid #666;
  border-collapse: collapse;
}
.userListContent table th {
  color: #444;
  padding: 7px;
  background: #DDD;
  border: 1px solid #666;
}
.userListContent table td {
  padding: 7px;
  border: 1px solid #666;
}
.userListContent > form {
  padding: 20px 0;
}
.userListContent form {
  display: inline-block;
}

.selectAllWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}
.selectAllWrapper .selectAllBtn {
  margin: 10px 0;
}

/* Safari */
.extraEmailSection > div {
  padding: 5px 0;
}
.extraEmailSection input {
  cursor: pointer;
  background-color: #FFF;
  border: 1px solid #000;
  font-weight: bold;
  font-size: 14px;
}
.extraEmailSection input.removeEmail {
  color: red;
}
.extraEmailSection input.addEmail {
  color: #00BE31;
}

#msg {
  transition: bottom 0.4s ease-out;
  -webkit-transition: bottom 0.4s ease-out;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  color: #FFF;
  position: fixed;
  z-index: 99;
  width: 100%;
  font-size: 1.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#msg.success {
  background-color: #4CAF50;
}
#msg.error {
  background-color: #f44336;
}
#msg.warning {
  background-color: #ff9800;
}

.orderListContent form.searchForm {
  margin-bottom: 10px;
}

.orderContent input {
  margin-right: 5px;
}
.orderContent .orderMetaData {
  border: 1px dashed #999;
  padding: 10px;
  display: inline-block;
}
.orderContent .orderMetaData p {
  margin: 0;
}
.orderContent .confirmReservation {
  padding: 20px;
  background-color: #EFEFEF;
  border: 1px solid #CCC;
}
.orderContent .confirmReservation > :first-child {
  margin-top: 0;
}
.orderContent .addArticleBtnHolder {
  text-align: center;
  margin: 0;
}
.orderContent .addArticleBtnHolder a:before {
  font-family: "hulshoff";
  content: "\e901 ";
}

.wizzardWrap {
  background-color: #EEE;
  margin: 15px;
}
.wizzardWrap .wizzard {
  display: flex;
  gap: 20px;
}
@media (max-width: 768px) {
  .wizzardWrap .wizzard {
    flex-wrap: wrap;
  }
}
.wizzardWrap .wizzard .wizSelectWrap {
  width: 100%;
}
.wizzardWrap .wizzard .wizSelectWrap select {
  width: 100%;
}
.wizzardWrap .wizTextFields {
  display: flex;
  padding: 10px 0;
  gap: 20px;
}
@media (max-width: 768px) {
  .wizzardWrap .wizTextFields {
    flex-direction: column;
  }
}
.wizzardWrap .wizTextFields div {
  flex: 0 1 24%;
}
.wizzardWrap .wizTextFields div input {
  width: 100%;
}
.wizzardWrap .wizShowStockProds {
  padding-bottom: 10px;
}

.resetPasswordContent {
  max-width: 500px;
  margin: 0 auto;
}
.resetPasswordContent form {
  display: inline-block;
  text-align: right;
}
.resetPasswordContent form div {
  padding-bottom: 5px;
}
.resetPasswordContent form label {
  padding-right: 5px;
}

.forgotPasswordContent {
  max-width: 500px;
  margin: 0 auto;
}

.reportsContent ul {
  margin: 0;
}

.manualsContent table {
  border: 1px solid #666;
  border-collapse: collapse;
}
.manualsContent table th {
  color: #444;
  padding: 7px;
  background: #DDD;
  border: 1px solid #666;
}
.manualsContent table td {
  padding: 7px;
  border: 1px solid #666;
}
.manualsContent > form {
  padding: 20px 0;
}
.manualsContent form {
  display: inline-block;
}

.addressesContent table {
  border: 1px solid #666;
  border-collapse: collapse;
}
.addressesContent table th {
  color: #444;
  padding: 7px;
  background: #DDD;
  border: 1px solid #666;
}
.addressesContent table td {
  padding: 7px;
  border: 1px solid #666;
}
.addressesContent > form {
  padding: 20px 0;
}
.addressesContent form {
  display: inline-block;
}

.returnOrderContent form {
  margin: 10px 0;
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

html, body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  background-color: #DDD;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img {
  vertical-align: middle;
}

input, textarea, select, button {
  font-family: "Heebo", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3, h4, h5 {
  font-size: 1.2em;
}

a {
  color: #00BE31;
  font-weight: bold;
  text-decoration: none;
  padding: 0 10px;
}
a:hover {
  text-decoration: underline;
}
a:before {
  font-family: "hulshoff";
}
a.editBtn:before {
  content: "\e900 ";
}
a.addBtn:before {
  content: "\e901 ";
}
a.backBtn:before {
  content: "\e904 ";
}

form button {
  cursor: pointer;
  border: 0;
  border-radius: 5px;
  padding: 7px 15px;
  background-color: #00BE31;
  color: #FFF;
}
form button:hover {
  background-color: #008e24;
}
form button:disabled {
  background-color: #CCC;
  color: #777;
  cursor: not-allowed;
}
form button:before {
  font-family: "hulshoff";
}
form button.deleteBtn {
  padding: 3px 8px;
  background-color: red;
  color: #FFF;
}
form button.deleteBtn:hover {
  background-color: #bf0000;
}
form button.deleteBtn:before {
  content: "\e902";
}
form button.saveBtn:before {
  content: "\e903 ";
}
form button.uploadBtn:before {
  content: "\e905 ";
}
form button.searchBtn:before {
  content: "\f50d ";
}

table {
  border: 1px solid #000;
  border-collapse: collapse;
}
@media (max-width: 1200px) {
  table {
    font-size: 0.8em;
  }
}
@media (max-width: 480px) {
  table {
    font-size: 0.7em;
  }
}
table tr th, table tr td {
  padding: 15px;
}
table tr:nth-of-type(even) td {
  background-color: #EFEFEF;
}
table tr:nth-of-type(1) th {
  background-color: #000;
  color: #FFF;
}

.pageHelp {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  position: fixed;
  right: 40px;
  bottom: 40px;
  z-index: 2;
  cursor: pointer;
  background-color: #FFE600;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px #666;
  color: #000;
  font-weight: bold;
}
.pageHelp:hover {
  box-shadow: 0px 0px 15px #000;
}

.pageManual {
  display: none;
  position: fixed;
  right: 110px;
  bottom: 110px;
  z-index: 2;
  width: 50%;
  height: 50%;
  padding: 10px 10px 10px 20px;
  border-radius: 10px;
  border: 1px solid #000;
  background-color: #FFF;
  box-shadow: 5px 5px 10px #666;
}
@media (max-width: 768px) {
  .pageManual {
    width: 65%;
    height: 60%;
    font-size: 0.8em;
  }
}
.pageManual div {
  overflow: auto;
  display: block;
  width: 100%;
  height: 100%;
}

.gridContainer {
  border: 20px solid #FFF;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "logo breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs basket basket" "account content content content content content content content" "navigation content content content content content content content" "info content content content content content content content" "footer footer footer footer footer footer footer footer";
  grid-template-rows: auto auto auto 1fr auto;
  grid-template-columns: 225px 1fr 1fr 1fr 1fr 1fr 150px 150px;
}
@media (max-width: 768px) {
  .gridContainer {
    border: 10px solid #FFF;
  }
}
@media (max-width: 768px) {
  .gridContainer {
    grid-template-areas: "logo logo logo logo logo logo logo logo" "navigation navigation navigation navigation navigation navigation navigation navigation" "breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs breadcrumbs basket basket" "account account account account account account account account" "content content content content content content content content" "info info info info info info info info" "footer footer footer footer footer footer footer footer";
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@font-face {
  font-family: "hulshoff";
  src: url("../font/hulshoff.eot?18169759");
  src: url("../font/hulshoff.eot?18169759#iefix") format("embedded-opentype"), url("../font/hulshoff.woff?18169759") format("woff"), url("../font/hulshoff.ttf?18169759") format("truetype"), url("../font/hulshoff.svg?18169759#hulshoff") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.logoCell {
  grid-area: logo;
  background-color: #FFE600;
  text-align: center;
  padding: 10px 0 0 0;
  min-height: 55px;
}
.logoCell img {
  vertical-align: middle;
}

.breadcrumbsCell {
  grid-area: breadcrumbs;
  background-color: #F0F2F4;
  min-height: 55px;
}

.lanSelect {
  font-size: 0.8em;
}

.basketCell {
  grid-area: basket;
  background-color: #F0F2F4;
  text-align: right;
  padding-top: 10px;
  padding-right: 25px;
  min-height: 55px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: right;
}
.basketCell a:hover {
  text-decoration: none;
}

.accountCell {
  grid-area: account;
  background-color: #333333;
  color: #FFF;
  padding-top: 20px;
  padding-bottom: 20px;
}

.navigationCell {
  grid-area: navigation;
  background-color: #FFF;
}

.infoCell {
  grid-area: info;
  background-color: #333333;
  padding-top: 140px;
}
.infoCell p {
  color: #FFF;
  font-size: 1.3em;
  font-style: italic;
  width: 80%;
  border-bottom: 1px solid #FFF;
  text-align: center;
  margin: 0 auto;
}

.contentCell {
  grid-area: content;
  position: relative;
  background-color: #FFF;
}
.contentCell > div {
  padding: 20px;
}
@media (max-width: 768px) {
  .contentCell > div {
    padding: 5px;
  }
}
.contentCell .textContent {
  max-width: 1100px;
}
.contentCell .productOverviewContent {
  display: flex;
  flex-direction: row-reverse;
}
@media (max-width: 1200px) {
  .contentCell .productOverviewContent {
    display: block;
  }
}
.contentCell .productOverviewContent .filterWrap {
  flex: 0 0 350px;
}
.contentCell .productOverviewContent .loadProducts {
  flex: 1 1 100%;
}

.footerCell {
  grid-area: footer;
  background-color: #333333;
  text-align: center;
  color: #FFF;
}
.footerCell p:first-child {
  font-size: 40px;
}
.footerCell p:first-child:before {
  font-family: "hulshoff";
  content: "\e906 ";
}
.footerCell p:first-child a {
  color: #FFF;
  text-decoration: none;
}
.footerCell p:first-child a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=styles.css.map */