.accInfo {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: #CCC;
    img {
        width: 40px;
        height: 40px;
        padding: 3px;
        object-fit: contain;
        background-color: #FFF;
        border: 1px solid #000;
    }
}
.accButtons {
    display: flex;
    gap: 15px;
    justify-content: center;
    padding-top: 10px;
    a {
        color: #CCC;
        font-size: 0;
        &:hover {
            color: #FFF;
            text-decoration: none;
        }
        &:before {
            font-family: hulshoff;
            font-size: 26px;
        }
        &.accBtnHome:before { content: '\e802'; }
        &.accBtnProfile:before { content: '\e803'; }
        &.accBtnLogout:before { content: '\e804'; }
    }
    button {
        background-color: transparent;
        cursor: pointer;
        outline: none;
        border: 0;
        color: #CCC;
        padding: 0 10px;
        &:hover {
            color: #FFF;
        }
        &:before {
            font-family: hulshoff;
            font-size: 26px;
            content: '\e804';
        }
    }
}