.basket {
    position: relative;
    &:before {
        font-family: hulshoff;
        font-size: 26px;
        content: '\e807';
        color: #000;
    }
    span {
        position: absolute;
        top: -14px;
        right: -10px;
        background-color: $colorBasket;
        color: #000;
        border: 1px solid #000;
        border-radius: 50%;
        width: 17px;
        height: 17px;
        line-height: 17px;
        font-size: 11px;
        font-weight: bold;
        text-align: center;
    }
}
.basketContent {
    table {
        form {
            display: inline-block;
            button {
                cursor: pointer;
            }
        }
        // .editBasketCount {
        //     visibility: visible;
        // }
    }
    .deliveryTxt {
        display: inline-block;
        width: 150px;
    }
}