.cart {
    position: relative;
    &:before {
        font-family: hulshoff;
        font-size: 26px;
        content: '\e807';
    }
    span {
        position: absolute;
        top: -14px;
        right: -10px;
        background-color: $colorCart;
        border: 1px solid #000;
        border-radius: 50%;
        width: 17px;
        height: 17px;
        line-height: 17px;
        font-size: 11px;
        font-weight: bold;
        text-align: center;
    }
}
