.login2FaChallengeContent {
    .noAccessToTheApp {
        background-color: #EFEFEF;
        padding: 20px;
        margin-top: 40px;
        :first-child {
            margin-top: 0;
        }
        :last-child {
            margin-bottom: 0;
        }
    }
    hr {
        border: 0;
        border-bottom: 1px solid #CCC;
        margin: 30px 0;
    }
    .recoveryCodeForm {
        display: none;
    }
    a {
        padding: 0;
    }
}