#burger-check, .burger-label {
    display: none;
}
nav.mainNav {
    @media (max-width: $screenBreakpoint) {
        // position: fixed;
        // z-index: 2;
        // width: 60px;
        // height: 55px;
        // right: 0;
        // background-color: #FFF;
        // border-left: 1px solid #CCC;
        // border-bottom: 1px solid #CCC;
        // border-top: 1px solid #CCC;
        @include burgerMenuAdapter;

        .burger-label {
            position: inherit;
            margin: 8px auto 0 auto;
            // margin-left: auto;
            // margin-right: auto;
            // margin-top: 5px;
        }

    }
}
nav.mainNav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        a {
            display: block;
            color: #FFF;
            text-decoration: none;
            border-left: 10px solid #333;
            padding-left: 40px;
            line-height: 47px;
            background-color: #333;
            &:hover, &.active {
                border-left: 10px solid $colorGreen;
                background-color: #555555;
                background-image: url('../statics/nav-arrow.png');
                background-repeat: no-repeat;
                background-position: top right;
            }
        }
    }
}
