#burger-check, .burger-label {
    display: none;
}
nav.mainNav {
    @media (max-width: $screenBreakpoint) {
        @include burgerMenuAdapter;

        .burger-label {
            position: inherit;
            margin: 8px auto 0 auto;
        }

        #burger-check ~ ul {
            z-index: 10;
        }

    }
}
nav.mainNav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
        a {
            padding: 15px 0;
            display: block;
            color: #FFF;
            text-decoration: none;
            border-left: 10px solid #333;
            padding-left: 40px;
            // line-height: 47px;
            background-color: #333;
            &:hover, &.active {
                border-left: 10px solid $colorGreen;
                background-color: #555555;
                background-image: url('../statics/nav-arrow.png');
                background-repeat: no-repeat;
                background-position: right center;
            }
        }
    }
}
