.orderContent {
    input {
        margin-right: 5px;
    }
    .orderMetaData {
        // background-color: #EFEFEF;
        border: 1px dashed #999;
        padding: 10px;
        display: inline-block;
        p {
            margin: 0;
        }
    }
    .confirmReservation {
        padding: 20px;
        background-color: #EFEFEF;
        border: 1px solid #CCC;
        > :first-child {
            margin-top: 0;
        }
    }
    .addArticleBtnHolder {
        text-align: center;
        margin: 0;
        a {
            &:before {
                font-family: 'hulshoff';
                content: '\e901\00a0';
            }
        }
    }
}