.orderContent {
    input {
        margin-right: 5px;
    }
    .confirmReservation {
        padding: 20px;
        background-color: #EFEFEF;
        border: 1px solid #CCC;
        > :first-child {
            margin-top: 0;
        }
    }
}