.productList .products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

    @media (max-width: $screenBreakpoint) {
        justify-content: center;
    }

    .product {
        width: 200px;
        cursor: pointer;
        @media (max-width: ($screenBreakpointMobile+50)) {
            width: 100%;
        }
        border: 1px solid #CCC;
        .prodInnerWrap {
            padding: 5px;
            .prodImgHolder {
                img {
                    width: 100%;
                    aspect-ratio: 1/1;
                    object-fit: contain;
                    background-color: #EEE;
                }
            }
            .prodInfo {
                p {
                    margin: 1px;
                }
            }
        }
        .prodToDetail {
            text-align: right;
            a {
                text-decoration: none;
                background-color: #CCC;
                display: inline-block;
                padding: 5px 7px 3px 12px;
                color: #000;
                &:before {
                    font-family: hulshoff;
                    font-size: 24px;
                    content: ' \e801';
                }
                &:hover, &.active {
                    background-color: #000;
                    &:before {
                        color: #CCC;
                    }
                }
                // &.active {
                //     background-color: #000;
                //     &:before {
                //         color: #CCC;
                //     }
                // }
            }
        }
    }
}
