.resetPasswordContent {
    max-width: 500px;
    margin: 0 auto;
    form {
        display: inline-block;
        text-align: right;
        div {
            padding-bottom: 5px;
        }
        label {
            padding-right: 5px;
        }
    }
}