.userListContent {
    table {
        border: 1px solid #666;
        border-collapse: collapse;
        th {
            color: #444;
            padding: 7px;
            background: #DDD;
            border: 1px solid #666;
        }
        td {
            padding: 7px;
            border: 1px solid #666;
        }
    }
    form {
        display: inline-block;
    }
}
.extraEmailSection {
    > div {
        padding: 5px 0;
    }
    input {
        cursor: pointer;
        background-color: #FFF;
        border: 1px solid #000;
        font-weight: bold;
        font-size: 14px;
        &.removeEmail {
            color: red;
        }
        &.addEmail {
            color: $colorGreen;
        }
    }
}