.wizzardWrap {
    // outline: 1px solid red;
    background-color: #EEE;
    margin: 15px;
    .wizzard {
        // outline: 1px solid blue;
        // padding: 15px;
        display: flex;
        @media (max-width: $screenBreakpoint) {
            flex-wrap: wrap;
        }
        gap: 20px;
        .wizSelectWrap {
            // outline: 1px solid green;
            width: 100%;
            select {
                width: 100%;
            }
        }
    }
    .wizTextFields {
        display: flex;
        @media (max-width: $screenBreakpoint) {
            flex-direction: column;
        }
        padding: 10px 0;
        gap: 20px;
        div {
            // display: block;
            // width: 384px;
            // outline: 1px solid red;
            flex: 0 1 24%;
            // &:last-child {
            //     flex-basis: 34%;
            // }
            input {
                width: 100%;
            }
        }
    }
    .wizShowStockProds {
        padding-bottom: 10px;
    }
}